// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free/css/brands.css';
@import '~@fortawesome/fontawesome-free/css/solid.css';
@import '~admin-lte/dist/css/adminlte.css';
@import '~bootstrap-slider/dist/css/bootstrap-slider.min.css';
.router-link-active {
    background-color: rgba(255, 255, 255, 0.1);
}

.router-link-exact-active {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ff7979 !important;
}

.passport-photo img {
    width: 300px;
    height: 300px;
    object-fit: contain;
}